*{
    margin: 0;
    padding: 0;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.heading{
    text-align: center;
    margin-bottom: 150px;
    text-transform: uppercase;
}
#one{
    background-color: green;
    height: 200px;
    width: 200px;
}
#two{
    background-color: blue;
    height: 200px;
    width: 200px;
}
#three{
    background-color: red;
    height: 200px;
    width: 200px;
}
#four{
    background-color: yellow;
    height: 200px;
    width: 200px;
}